/* Main CSS */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

html {
	font: 12px "Tahoma";
}

#container-throttle,
#container-yaw,
#container-pitch,
#container-roll {
    width: 80px;
    height: 70px;
    float: left;
}

.leftPanel,
.rightPanel {
	float:left;
}

.rightPanel {
	
}

.row {
	max-width: 320px;
	text-align: left;
}

.row h4 {
	font-weight: normal;
	text-align: left;	
	margin: 5px 0;
}

.row input {
	width: 80px;
	margin-right: 10px;
}

.row label {
	margin: 0 10px 0 0;
	font-weight: normal;
}

.row #savePid,
.row #resetPid {
	margin: 20px 10px 0 15px;
}

.status {	
	width: 320px;
}

.status .statusLight {
	width:10px;
	height:10px;
	border-radius: 3px;
	display: inline-block;
}

.status .statusLight.red {
	background-color: red;
}

.status .statusLight.orange {
	background-color: orange;
}

.status .statusLight.green {
	background-color: green;
}

.status .title {
	display: inline-block;
	width: 100px;
	line-height: 20px;
}

h3 {
    font: 12px "Tahoma";
    text-align: center;
    margin: 10px 0;
    font-weight: bold;    
}

.gaugeGroup {
    width: 600px;
    float:none;
}

.gaugeContainer {
    float: left;
    width: 200px;
    height: 200px;
    position: relative;
}

.gaugeContainer .gauge {
    width: 160px;
    height: 160px;
    margin: 20px;
}

.gaugeContainer .arrow.big {
    height: 83px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 40px;
    transform-origin: 50% 60px 0;
    width: 15px;
}
.gaugeContainer .arrow.small {
    height: 67px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 56px;
    transform-origin: 50% 44px 0;
    width: 15px;
}
#container-vspeed .arrow.big {
    transform: rotate(270deg);
}
