/* Main CSS */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

html {
	font: 12px "Tahoma";
}

#container-throttle,
#container-yaw,
#container-pitch,
#container-roll {
    width: 80px;
    height: 70px;
    float: left;
}

.leftPanel,
.rightPanel {
	float:left;
}

.rightPanel {
	
}

.row {
	max-width: 320px;
	text-align: left;
    margin:0;
    font-size: 10px;
}

.row h3 {
	text-align: left;	
	margin: 5px 0 5px;
}

.row input {
	width: 55px;
	margin-right: 10px;
}

.row label {
	margin: 0 10px 0 0;
	font-weight: normal;
}

.row #savePid,
.row #getPid {
	margin: 20px 10px 0 15px;
}

.status {	
	width: 260px;
}

.status .left,
.status .right{
    float: left;
    width: 50%;
}

.status .statusLight {
	width:10px;
	height:10px;
	border-radius: 3px;
	display: inline-block;
}

.status .statusLight.red {
	background-color: red;
}

.status .statusLight.orange {
	background-color: orange;
}

.status .statusLight.green {
	background-color: green;
}

.status .title {
	display: inline-block;
	width: 100px;
	line-height: 20px;
}

h3 {
    font: 12px "Tahoma";
    text-align: center;
    margin: 10px 0;
    font-weight: bold;    
}

.gaugeGroup {
    width: 600px;
    float:none;
}

.gaugeContainer {
    float: left;
    width: 200px;
    height: 200px;
    position: relative;
}

.gaugeContainer .gauge {
    width: 160px;
    height: 160px;
    margin: 20px;
}

.gaugeContainer .arrow.big {
    height: 83px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 40px;
    transform-origin: 50% 60px 0;
    width: 15px;
}
.gaugeContainer .arrow.small {
    height: 67px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 56px;
    transform-origin: 50% 44px;
    width: 15px;
}
.gaugeContainer#container-vspeed .arrow.big {
    transform: rotate(270deg);
}

#container-horizon img {
    position: relative;
}

.gaugeContainer .compass_scale {
    position: absolute;
    top: 34px;
    left: 34px;
    transform-origin: 50% 50%;
}

.gaugeContainer svg {
    position: absolute;
    top: 0;
    left: 0;
}

.rcControls {
    float: left;
    margin-right: 20px;
}

.settings {
    width: 150px;
    margin-left: 20px;
}

#container-gmap {
    float: left;
    height: 515px;
    margin: 0 20px;
    width: 400px;
}

a {
    cursor: pointer;
}

#altSm,
#altLg {
    transition: 0.5s linear;
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    width: 150px;
    margin: 5px 0;
}

.graps {
    text-align: center;
}

.graps select {
    width: 100px;
    height: 30px;
}

.graps button.btn-sm {
    line-height: 14px;
    position: relative;
    margin-top: -4px;
    margin-left: 20px;
}

.graps .left {
    float: left;
    width: 270px;
    margin-left: 10px;
    margin-top: 40px;
}
.graps .right {
    float: left;
    width: 900px;
}

#vspeed,
#airspeed {
    transition-duration: 1s;
    transition-timing-function: linear;
}