/* Main CSS */
#container-throttle,
#container-yaw,
#container-pitch,
#container-roll {
    width: 80px;
    height: 70px;
    float: left;
}

.rcControls {
    float: left;
    width: 320px;
}

h3 {
    font: 12px "Tahoma";
    text-align: center;
    margin: 0;
}
