extends layout

block content
	.leftPanel
		.settings
			//h3 PID settings
				form(ng-controller='PidList')
					.row(ng-repeat='(axe, pid) in pids')
						h4 {{pid.name}} PID
						label(for='pid{{axe}}p') P
						input(name='pid{{axe}}p', id='pid{{axe}}p', value='{{pid.p}}')
						label(for='pid{{axe}}i') I
						input(name='pid{{axe}}i', id='pid{{axe}}i', value='{{pid.i}}')
						label(for='pid{{axe}}d') D
						input(name='pidx{{axe}}d', id='pid{{axe}}d', value='{{pid.d}}')
					.row
						input(type='button', id='savePid', value='Save')
						input(type='button', id='resetPid', value='Reset')
			h3 System
				.system(ng-controller='systemController')
					div Dtime: {{dtime}}
	.rightPanel
		.clearfix
			.rcControls
				h3 RC signals
				#container-throttle
				#container-yaw
				#container-pitch
				#container-roll
			.status.clearfix(ng-controller='Status')
				h3 Status
				#container-serial
					.title Online
					.statusLight(class='{{online ? "green" : "red"}}')
				#container-gps
					.title GPS data
					.statusLight(class='{{gps ? "green" : "red"}}')
				#container-arm
					.title
						a(ng-click = 'armDisarm()') Arm/Disarm
					.statusLight(class='{{arm ? "green" : "red"}}')
		.gauges(ng-controller='anglesController')
			.gaugesGroup
				#container-speed.gaugeContainer
					img(src='/images/airspeed.png', class='gauge')
					img(src='/images/arrow_long.png', class='arrow big')
				#container-horizon.gaugeContainer
					svg(width="200", height="200")
						defs
							clipPath(id="clipping")
								circle(cx="100", cy="100", r="65")
							pattern(id="img1", patternUnits="userSpaceOnUse", width="200", height="200", patternTransform="rotate(0, 100, 100) translate(0,0)")
								image(width="200", height="200", xlink:href="/images/atitude_scale.png")
						rect(width="200", height="200", fill="url(#img1)", clip-path="url(#clipping)")
					img(src='/images/atitude.png', class='gauge')
				#container-altimeter.gaugeContainer
					img(src='/images/altimeter.png', class='gauge')
					img(src='/images/arrow_short.png', class='arrow small', id='altLg')
					img(src='/images/arrow_long.png', class='arrow big', id='altSm')
			.gaugesGroup
				#container-relativeDirection.gaugeContainer
				#container-heading.gaugeContainer
					img(src='/images/compass.png', class='gauge')
					img(src='/images/compass_scale.png', id="compass_scale" class='compass_scale' style='transform: rotate(0deg)')
				#container-vspeed.gaugeContainer
					img(src='/images/vert_speed.png', class='gauge')
					img(src='/images/arrow_long.png', class='arrow big' id='vspeed')
	#container-gmap
	script(type="text/javascript", src="//maps.googleapis.com/maps/api/js?key=AIzaSyCJ_c4ct-qADVjxDSFrRPilm0jfvYq9wvE")
	script(src="/js/rc.js")
	script(src="/js/main.js")
	script(src="/js/indexPage.js")
	script(src="/js/pid.js")
	script(src="/js/system.js")
	script(src="/js/status.js")
	script(src="/js/angles.js")


