doctype html
html
	head
		title Quadcopter console
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/styles.css")
		script(src="/js/libs/angular.min.js")
		script(src="/js/libs/jquery-2.1.1.min.js")
		script(src="/js/libs/Highcharts-4.0.3/highcharts.js")
		script(src="/js/libs/Highcharts-4.0.3/highcharts-more.js")
		script(src="/js/libs/Highcharts-4.0.3/modules/solid-gauge.src.js")
		script(src="/js/libs/canvasjs.min.js")
		script(src="/js/libs/dygraph-combined.js")
		script(src="/socket.io/socket.io.js")
	body(ng-app='quadcopter')
		div.main
			nav(class='navbar navbar-default', role='navigation')
				ul(class="nav navbar-nav")
					li
						a(href='/') Flight instruments
					li
						a(href='/pid') PID tuning
					li
						a(href='/engines') PID output
					li
						a(href='/accelerometer') Acceletometer data
			block content