doctype html5
html
    head
        title Quadcopter console 
        link(rel="stylesheet", href="/css/styles.css")
    body
        div.main 
            block content

script(src="/js/libs/jquery-2.1.1.min.js")
script(src="/js/libs/Highcharts-4.0.3/highcharts.js")
script(src="/js/libs/Highcharts-4.0.3/highcharts-more.js")
script(src="/js/libs/Highcharts-4.0.3/modules/solid-gauge.src.js")
script(src="/socket.io/socket.io.js")
script(src="/js/rc.js")
script(src="/js/main.js")


