doctype html5
html
    head
        title Quadcopter console 
        link(rel="stylesheet", href="/css/styles.css")
    body
        div.main 
            block content

script(src="/socket.io/socket.io.js")
script(src="/js/main.js")


