extends layout

block content
	div.graps(ng-controller = 'vybroController')
		select(ng-model="currentAxe", ng-options="axe.name for axe in axes")
		button.btn.btn-primary.btn-sm(ng-click="togglePlay()") {{play ? "Pause" : "Play"}}
		div(id="accelContainer",style="height: 300px; width: 100%;")
	script(src="/js/main.js")
	script(src="/js/vybroPage.js")